---
---

// colors
[data-dark="false"] {
  --primary: #7B3E8C;
  --secondary: #F2CB05;
  --text: #0D0D0D;
  --background: #F2F2F2;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000000;
}
[data-dark="true"] {
  --primary: #0ea5e9;
  --secondary: #075985;
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}


:root {
  // font families
  --title: "Acme", sans-serif;
  --heading: "Lato", sans-serif;
  --body: "Lato", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --large: 1.5rem;
  --medium: 1.3rem;
  --xl: 1.7rem;
  --xxl: 1.9rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 1.7;
  --compact: 1.5;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;
}
